{% extends "base.html" %}

{% block content %}

<!--Discussion thread-->
<div class="container-lg">
    <h1 class="h1"> Edit Post </h1>
    <div class="container">
        <br>
        <form action="{{url_for('editEntry',pid=pid)}}" method="POST">
            <input type="text" placeholder="{{post.name}}" name="name" required="true">
            <input type="text" placeholder="{{post.phone}}" name="phone" required="true">
            <input type="text" placeholder="{{post.email}}" name="email" required="true">
            <input type="text" placeholder="{{post.address}}" name="address" required="true">
            <input type="submit" value="Save Edits" class="btn btn-primary" >
        </form>
    </div> 

{% endblock %}
